.navbar-button {
    width: 80%;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 60px;
}

.logo {
    width: 10%;
}

.ou-sase-logo {
	display: flex;
	width: 50%;
	height: 100%;
	display: flex;
	justify-self: center;
	align-content: center;
	object-fit: contain;
}

button {
    height: 50px;
    width: 12rem;
    color: white;
    border-style: none;
    background-color: rgb(0, 0, 0);
    margin: 0;
    justify-self: center;
}

button:hover {
    font-size: 12px;
    letter-spacing: 2px;
    text-shadow: rgb(70, 65, 65);
}

.empty-space {
    width: 10%;
}

.header-container {
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0;
    display: flex;
}