body {
	padding: 0px;
	margin: 0;
}

.img-section {
	width: 80%;
	display: inline;
	height: auto;
	justify-self: center;
	justify-content: center;
	border-color: black;
	border-left-style: solid;
	border-right-style: solid;
	margin-top: 0px;
}

.img-row {
	width: 80%;
	justify-self: center;
	padding: 1%;
}

.img-indiv {
	display: grid;
	justify-items: center;
	padding: 2%;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease,

}

.img-row > img {
	min-width: 80%;
	width: 80%;
	height: auto;
	cursor: pointer;
	position: absolute;
    transition: max-height 0.4s ease, opacity 0.4s ease,
}

.img-indiv > h1 {
	color: white;
}

.info-container {
	display: block;
	justify-items: center;
}